<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>媒体介绍-通众传媒</title>
  <meta name="keywords" content="通众传媒,通众网,通众广告,电梯媒体,电梯公告栏,公告栏媒体,小区公告栏,社区公告栏,物业公告栏" />
  <meta name="description" content="通众传媒是致力于开发电梯媒体和广告发布的专业社区电梯公告栏媒体公司，公告栏媒体是安装在社区高层住宅电梯等候厅电梯口的创新媒体，以传播效果好、广告关注率高的显著特点成为有特色、性价比高的电梯媒体。" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=yes">
</head>
<body>

  <script src="./assets/js/jquery.js"></script>
  <script src="./assets/js/vue.js"></script>
  <link rel="stylesheet" href="./assets/css/bootstrap.css">
  <script src="./assets/js/bootstrap.js"></script>
  <link rel="stylesheet" href="./assets/css/element.css">
  <script src="./assets/js/data.js"></script>
  <script src="./assets/js/element.js"></script>

<link rel="stylesheet" href="./assets/css/main.css">
<link rel="stylesheet" href="./assets/css/common.css">
<link rel="stylesheet" href="./assets/css/describe.css">
<style>
.block-big-area{
  font-size: 30px;
  padding:40px 0;
  text-align: center;
}
.block-big-area .block-title{
  padding:20px;
}
.block-big-area .block-img{

}
.block-big-area .block-img img{
  width: 70%;
}
.bg-g{
  background-color:  #F7F7FA;
}
.block-text-a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 5px;
}
.block-text-ta{
  color: #666666;
  font-size: 12px;
  padding:1px;
}
.block-text-ta i{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  border:1px solid red;
  margin-right: 10px;
}
.foot-address-phone {
  position: fixed;
  z-index:9;
}
.el-carous-img{
  margin:0;
  padding:0;
  width: 100%;
  height: 250px;
  background-color: white;
  text-align: left;
}

.el-carousel__indicator .el-carousel__button{
  background-color:  #000000;
  height: 6px;
  border-radius: 6px;
  opacity: 1;
}
.is-active .el-carousel__button{
  background-color: #B40006;
  height: 6px;
  border-radius: 6px;
    opacity:1;
}
  .el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
     background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
     background-color: #d3dce6;
  }
  .el-carous-img .el-carousel__item:nth-child(2n) {
     background-color: white;
  }

   .el-carous-img .el-carousel__item:nth-child(2n+1) {
     background-color: white;
  }

</style>
<link rel="stylesheet" href="./assets/css/ipad.css">
  <div class="container-fluid" id="vue">
    <!-- logo及导航 -->
    <div class="mynav padding-center-pc">
      <div class="col-lg-2 logo-align"><a href="index.html"><img src="./assets/img/logo2.png" class="logo-img logo-img-pc" alt="通众传媒"/></a></div>
      <div class="">
        <ul class="nav-mine">
          <li><a href="index.html">首页</a></li>
          <li><a href="about.html">关于我们</a></li>
          <li><a href="describe.html">媒体介绍</a></li>
          <li><a href="adavance.html">媒体优势</a></li>
          <li><a href="distribute.html"  class="active">资源布局</a></li>
          <li><a href="news.html">新闻中心</a></li>
          <li><a href="contact.html">联系我们</a></li>
        </ul>
      </div>
    </div>

    <!-- 微导航 -->
    <div class="mynav-phone block-phone" style="position:relative;z-index:9;">
      <div class="mynav-div-phone">
        <a href="index.html"><img src="./assets/img/logo2.png" class="logo-img" /></a>
        <div class="nav-button"><img src="./assets/img/slide_button.png" alt="通众传媒"/></div>
      </div>
    </div>
    <div class="mynav-phone">
      <div class="mynav-div-phone">
        <a href="index.html"><img src="./assets/img/logo2.png" class="logo-img" /></a>
        <div class="nav-button" v-on:click="clickOpenSlide"><img src="./assets/img/slide_button.png"/></div>
      </div>
    </div>
    <div class="mynav-slide-bg" v-if="openSlide" @click="clickCloseSlide"></div>
    <div class="mynav-slide" v-if="openSlide">
      <div class="mynav-slide-div">
        <!-- <a href="index.html"><img class="mynav-slide-div-logo" src="./assets/img/logo2.png"/></a> -->
        <div @click="clickCloseSlide" class="mynav-slide-div-close-div">
          <img class="mynav-slide-div-close" src="./assets/img/close.png" />
        </div>
      </div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="index.html">首页</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="about.html">关于我们</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="describe.html">媒体介绍</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="adavance.html">媒体优势</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="distribute.html" class="active">资源布局</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="news.html">新闻中心</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="contact.html">联系我们</a></div>
      <div class="mynav-slide-item-foot">
        <div class="foot-address-phone" v-if="openSlide">
            <img src="./assets/img/up.png" />
            <div><a class="phone-number" href='tel:4000-055-066'>4000-055-066 电话咨询</a></div>
        </div>
      </div>
    </div>

    <div class="block-re">
        <div class="head-text">资源布局</div>
        <!-- <img class="head-img block-pc" src="./assets/img/destribute.jpg"/>
        <img class="head-img block-phone" src="./assets/img/desrcibtue_phone.jpg"/> -->
        <div class="head-img block-pc" style="background:url(./assets/img/destribute.jpg) no-repeat center;background-size:cover;"></div>
        <div class="head-img head-img-phone block-phone block-midphone" style="background: url(./assets/img/destribute.jpg) no-repeat center;background-size:cover;"></div>
    </div>

    <div class="block-big-area">
      <div class="block-title">全国覆盖区域</div>
      <div class="block-img block-pc"><img src="./assets/img/distribute_chinese.png" alt="全国覆盖区域"/></div>
      <div class="block-img block-phone"><img src="./assets/img/chinese_phone.png" style="width:90%;" alt="全国覆盖区域"/></div>
      <div class="block-text-a block-phone">
        <div class="block-phone">
        <div class="block-text-ta"><i></i>抢占全国重点城市 300+</div>
        <div class="block-text-ta"><i></i>拥有超过1100+核心社区</div>
        <div class="block-text-ta"><i></i>覆盖媒体位个数 20万+</div>
        <div class="block-text-ta"><i></i>月均触达人次 2亿+</div>
        </div>
      </div>

    </div>
    <div class="block-big-area bg-g">
      <div class="block-title">广东省内覆盖区域</div>
      <div class="block-img block-pc"><img src="./assets/img/distribute_province.png" alt="广东省内覆盖区域" /></div>
      <div class="block-img block-phone"><img src="./assets/img/privince_phone.png" style="width:90%;" alt="广东省内覆盖区域" /></div>
    </div>

    <!--合作伙伴-->
    <div class="operate-block operate-block-phone  padding-center-pc padding-top-bottom">
      <div>
          <div class="title">物业伙伴</div>


            <el-carousel class="el-carous-img el-product-phone" width="100%" height="100%" arrow="never" style="text-align:center;">
              <el-carousel-item>
                <div class="operate-img"> <img src="./assets/img/op_0.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_1.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_2.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_3.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_4.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_5.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_6.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_7.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_8.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_9.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_10.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_11.png"/> </div>
              </el-carousel-item>

              <el-carousel-item>
                <div class="operate-img"> <img src="./assets/img/op_12.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_13.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_14.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_15.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_16.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_17.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_18.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_19.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_20.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_21.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_22.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_23.png"/> </div>
              </el-carousel-item>

              <el-carousel-item>
                <div class="operate-img"> <img src="./assets/img/op_24.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_25.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_26.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_27.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_28.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_29.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_30.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_31.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_32.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_33.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_34.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_35.png"/> </div>
              </el-carousel-item>

            </el-carousel>

            <el-carousel class="el-carous-img el-product-pc" width="100%" height="100%" arrow="never" style="text-align: center;">
              <el-carousel-item>
                <div class="operate-img"> <img src="./assets/img/op_0.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_1.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_2.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_3.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_4.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_5.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_6.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_7.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_8.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_9.png"/> </div>
              </el-carousel-item>

              <el-carousel-item>
                <div class="operate-img"> <img src="./assets/img/op_10.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_11.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_12.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_13.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_14.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_15.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_16.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_17.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_18.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_19.png"/> </div>
              </el-carousel-item>

              <el-carousel-item>
                <div class="operate-img"> <img src="./assets/img/op_20.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_21.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_22.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_23.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_24.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_25.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_26.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_27.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_28.png"/> </div>
                <div class="operate-img"> <img src="./assets/img/op_29.png"/> </div>
              </el-carousel-item>

            </el-carousel>

      </div>
    </div>
    <!--尾部  -->
    <div class="foot foot-phone padding-center-pc" style="padding-top:30px;">
      <div class="">
        <div class="foot-text foot-text-phone">
          <div class="">
            <div class="foot-title foot-title-phone">关于我们</div>
            <ul class="foot-ul foot-ul-phone">
              <li><a href="about.html">公司简介</a></li>
              <li><a href="about.html">发展历程</a></li>
              <li><a href="news.html">新闻中心</a></li>
            </ul>
          </div>
          <div class="">
            <div class="foot-title foot-title-phone">媒体介绍</div>
            <ul class="foot-ul foot-ul-phone">
              <li><a href="describe.html">媒体形式</a></li>
              <li><a href="adavance.html">媒体优势</a></li>
              <li><a href="describe.html">服务流程</a></li>
            </ul>
          </div>
          <div class="">
              <div class="foot-title foot-title-phone">联系方式</div>
              <ul class="foot-ul foot-ul-phone no-flex">
                <li>服务热线： 4000-055-066（周一至周日 09:00-22:00）</li>
                <!-- <li>商务合作： 138-8888-8888 </li> -->
                <li>总部地址： 深圳市福田区沙头街道天安社区泰然七路泰然科技园苍松大厦508 </li>
              </ul>
          </div>
          <div class="">
            <div class="foot-title foot-title-phone-cooperate">关注公众号</div>
            <img class="foot-img" src="./assets/img/website.png" alt="关注公众号"/>
          </div>
        </div>
      </div>
      <!-- 版权 -->
      <div class="foot-vision foot-vision-phone">
        <div class="foot-vision-div">(C) 2012-2020 通众传媒 版权所有</div>
        <div  class="foot-vision-div"><a href="http://www.beian.miit.gov.cn/">ICP备案号： 粤ICP备13027485号</a></div>
      </div>
      <div class="foot-address-phone icon-item no-fixed" style="position:relative;">
          <img src="./assets/img/up.png" alt="phone"/>
          <div>4000-055-066 电话咨询</div>
      </div>
      <div class="foot-address-phone icon-item no-fixed">
          <img src="./assets/img/up.png" alt="phone"/>
          <div><a class="phone-number" href='tel:4000-055-066'>4000-055-066 电话咨询</a></div>
      </div>
    </div>
    <!-- end 尾部 -->

  </div>

<script>


var vue =new Vue({
  el:"#vue",
  data:{
      arr :["首页","关于我们" ,"媒体介绍" ,"媒体优势" ,"网点布局" ,"新闻中心" ,"联系我们"],
      selectIndex:4,
      operateSum: 20,
      openSlide:false,
      isTrue:true,
      wHeight: window.innerWidth,
      routerAboutArr:['/describe','/about','/news'],
      routerDescribeArr:['/describe','/describe','/adavance'],
      routerArr:['/','/about','/describe','/adavance','/distribute','/news','/contact']
  },
  methods:{

    select:function(index){
      this.selectIndex = index;
    },
    clickOpenSlide:function(e){
      this.openSlide = true;
    },
    clickCloseSlide:function(e){
      this.openSlide = false;
    }
  }
});
</script>

</body>
</html>
