<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>关于我们-通众传媒</title>
  <meta name="keywords" content="通众传媒,通众网,通众广告,电梯媒体,电梯公告栏,公告栏媒体,小区公告栏,社区公告栏,物业公告栏" />
  <meta name="description" content="通众传媒是致力于开发电梯媒体和广告发布的专业社区电梯公告栏媒体公司，公告栏媒体是安装在社区高层住宅电梯等候厅电梯口的创新媒体，以传播效果好、广告关注率高的显著特点成为有特色、性价比高的电梯媒体。" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=yes">
</head>
<body>

  <script src="./assets/js/jquery.js"></script>
  <script src="./assets/js/vue.js"></script>
  <link rel="stylesheet" href="./assets/css/bootstrap.css">
  <script src="./assets/js/bootstrap.js"></script>
  <link rel="stylesheet" href="./assets/css/element.css">
  <script src="./assets/js/data.js"></script>
  <script src="./assets/js/element.js"></script>


<link rel="stylesheet" href="./assets/css/main.css">
<link rel="stylesheet" href="./assets/css/common.css">
<link rel="stylesheet" href="./assets/css/describe.css">

  <div class="container-fluid" id="vue">
    <!-- logo及导航 -->
    <div class="mynav padding-center-pc">
      <div class="col-lg-2 logo-align"><a href="index.html"><img src="./assets/img/logo2.png" class="logo-img logo-img-pc"/></a></div>
      <div class="">
        <ul class="nav-mine">
          <li><a href="index.html">首页</a></li>
          <li><a href="about.html" >关于我们</a></li>
          <li><a href="describe.html">媒体介绍</a></li>
          <li><a href="adavance.html">媒体优势</a></li>
          <li><a href="distribute.html">资源布局</a></li>
          <li><a href="news.html" class="active">新闻中心</a></li>
          <li><a href="contact.html">联系我们</a></li>
        </ul>
      </div>
    </div>

    <!-- 微导航 -->
    <div class="mynav-phone block-phone" style="position:relative;z-index:9;">
      <div class="mynav-div-phone">
        <a href="index.html"><img src="./assets/img/logo2.png" class="logo-img" /></a>
        <div class="nav-button"><img src="./assets/img/slide_button.png"/></div>
      </div>
    </div>
    <div class="mynav-phone">
      <div class="mynav-div-phone">
        <a href="index.html"><img src="./assets/img/logo2.png" class="logo-img" /></a>
        <div class="nav-button" v-on:click="clickOpenSlide"><img  src="./assets/img/slide_button.png"/></div>
      </div>
    </div>

    <div class="mynav-slide-bg" v-if="openSlide" @click="clickCloseSlide"></div>
    <div class="mynav-slide" v-if="openSlide">
      <div class="mynav-slide-div">
        <!-- <a href="index.html"><img class="mynav-slide-div-logo" src="./assets/img/logo2.png"/></a> -->
        <div @click="clickCloseSlide" class="mynav-slide-div-close-div">
          <img class="mynav-slide-div-close" src="./assets/img/close.png" />
        </div>
      </div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="index.html">首页</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="about.html">关于我们</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="describe.html">媒体介绍</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="adavance.html">媒体优势</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="distribute.html">资源布局</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="news.html" class="active">新闻中心</a></div>
      <div class="mynav-slide-item"><a @click="clickCloseSlide" href="contact.html">联系我们</a></div>
      <div class="mynav-slide-item-foot">
        <div class="foot-address-phone" v-if="openSlide">
            <img src="./assets/img/up.png" />
            <div><a class="phone-number" href='tel:4000-055-066'>4000-055-066 电话咨询</a></div>
        </div>
      </div>

    </div>

      <div class="block-re">
          <div class="head-text">新闻中心</div>
            <!-- <img class="head-img" src="./assets/img/news_d.jpg"/> -->
            <div class="head-img block-pc" style="background:url(./assets/img/news_d.jpg) no-repeat center;background-size:cover;"></div>
            <div class="head-img head-img-phone block-phone block-midphone" style="background: url(./assets/img/news_d.jpg) no-repeat center;background-size:cover;"></div>
      </div>


    <!--图文合子-->
    <div class="block-news-list padding-top-bottom">
    <div class="title-icon block-exmaple padding-icon block-news-list padding-center-pc new-list-block padding-ipad-news">
      <div class="col-lg-12">
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news1.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">深圳拓展团建活动</figcaption>
          <div class="icon-subtext">2019年1月5日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news2.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">深圳通众员工生日会</figcaption>
          <div class="icon-subtext">2018年11月24日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news3.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">深圳大学院领导及校友来公司交流学习</figcaption>
          <div class="icon-subtext">2018年11月</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news4.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">广州分公司团建活动</figcaption>
          <div class="icon-subtext">2018年11月10日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news5.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">通众传媒&王者荣耀2018年团队争霸赛</figcaption>
          <div class="icon-subtext">2018年5月</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news6.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">深圳安装部“知识技能”对抗赛</figcaption>
          <div class="icon-subtext">2017年7月29日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news7.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">深圳观澜野炊拓展活动</figcaption>
          <div class="icon-subtext">2017年6月10日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news8.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">“同心同德、筑梦远航”-2017年公司年会</figcaption>
          <div class="icon-subtext">2017年2月10日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news9.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">公司不定时举行知识技能竞赛；</figcaption>
          <div class="icon-subtext">2016年2月1日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news10.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">2015年通众&达美&优洛会年会</figcaption>
          <div class="icon-subtext">2015年2月1日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news11.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">拓展部培训，公司视人才为第一资源。</figcaption>
          <div class="icon-subtext">2013年03月09日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news12.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">拓展部竞聘</figcaption>
          <div class="icon-subtext">2013年03月02日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news13.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">2012年端午节”粽香庆端午，情系通众缘“</figcaption>
          <div class="icon-subtext">2012年端午节</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news14.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">2012年元旦茶话会</figcaption>
          <div class="icon-subtext">2012年1月1日</div>
        </figure>
        <figure class="new-item-block">
          <img class="big-img" src="./assets/img/news15.jpg" style="width:100%;" alt="news"/>
          <figcaption class="icon-text">2012年度总结</figcaption>
          <div class="icon-subtext">2012年12月30日</div>
        </figure>
      </div>
    </div>
   </div>

    <!-- 新闻盒子  手机版 -->
    <div class="title-icon block-exmaple padding-icon block-news-list-phone no-padding-top">
        <!-- <div class="title">媒体案例</div> -->
        <div class="">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news1.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">深圳拓展团建活动</div>
                <div class="icon-subtext no-padding-bottom">2019年1月5日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news2.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">深圳通众员工生日会</div>
                <div class="icon-subtext no-padding-bottom">2018年11月24日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news3.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">深圳大学院领导及校友来公司交流学习</div>
                <div class="icon-subtext no-padding-bottom">2018年11月</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news4.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">广州分公司团建活动</div>
                <div class="icon-subtext no-padding-bottom">2018年11月10日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news5.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">通众传媒&王者荣耀2018年团队争霸赛</div>
                <div class="icon-subtext no-padding-bottom">2018年5月</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news6.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">深圳安装部“知识技能”对抗赛</div>
                <div class="icon-subtext no-padding-bottom">2017年7月29日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news7.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">深圳观澜野炊拓展活动</div>
                <div class="icon-subtext no-padding-bottom">2017年6月10日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news8.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">“同心同德、筑梦远航”-2017年公司年会</div>
                <div class="icon-subtext no-padding-bottom">2017年2月10日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news9.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">公司不定时举行知识技能竞赛，提高员工技能水平；</div>
                <div class="icon-subtext no-padding-bottom">2016年2月1日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news10.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">2015年通众&达美&优洛会年会</div>
                <div class="icon-subtext no-padding-bottom">2015年2月1日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news11.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">拓展部培训，公司视人才为第一资源。</div>
                <div class="icon-subtext no-padding-bottom">2013年03月09日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news12.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">拓展部竞聘</div>
                <div class="icon-subtext no-padding-bottom">2013年03月02日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news13.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">2012年端午节”粽香庆端午，情系通众缘“</div>
                <div class="icon-subtext no-padding-bottom">2012年端午节</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news14.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">2012年元旦茶话会</div>
                <div class="icon-subtext no-padding-bottom">2012年1月1日</div>
              </div>
            </div>
            <div class="col-lg-8 block-img-phone">
              <img class="big-img-phone" src="./assets/img/news15.jpg"/>
              <div class="img-block-phone">
                <div class="icon-text">2012年度总结</div>
                <div class="icon-subtext no-padding-bottom">2012年12月30日</div>
              </div>
            </div>
        </div>
        <div class="tips">没有更多了</div>
    </div>


    <!--尾部  -->
    <div class="foot foot-phone padding-center-pc" style="padding-top:30px;">
        <div class="foot-text foot-text-phone">
          <div class="">
            <div class="foot-title foot-title-phone">关于我们</div>
            <ul class="foot-ul foot-ul-phone">
              <li><a href="about.html">公司简介</a></li>
              <li><a href="about.html">发展历程</a></li>
              <li><a href="news.html">新闻中心</a></li>
            </ul>
          </div>
          <div class="">
            <div class="foot-title foot-title-phone">媒体介绍</div>
            <ul class="foot-ul foot-ul-phone">
              <li><a href="describe.html">媒体形式</a></li>
              <li><a href="adavance.html">媒体优势</a></li>
              <li><a href="describe.html">服务流程</a></li>
            </ul>
          </div>
          <div class="">
              <div class="foot-title foot-title-phone">联系方式</div>
              <ul class="foot-ul foot-ul-phone no-flex">
                <li>服务热线： 4000-055-066（周一至周日 09:00-22:00）</li>
                <!-- <li>商务合作： 138-8888-8888 </li> -->
                <li>总部地址： 深圳市福田区沙头街道天安社区泰然七路泰然科技园苍松大厦508 </li>
              </ul>
          </div>
          <div class="">
            <div class="foot-title foot-title-phone-cooperate">关注公众号</div>
            <img class="foot-img" src="./assets/img/website.png" alt="关注公众号"/>
          </div>
        </div>
      <!-- 版权 -->
      <div class="foot-vision foot-vision-phone">
        <div class="foot-vision-div">(C) 2012-2020 通众传媒 版权所有</div>
        <div  class="foot-vision-div"><a href="http://www.beian.miit.gov.cn/">ICP备案号： 粤ICP备13027485号</a></div>
    </div>
      <div class="foot-address-phone icon-item no-fixed" style="position:relative;">
          <img src="./assets/img/up.png" alt="phone"/>
          <div>4000-055-066 电话咨询</div>
      </div>
      <div class="foot-address-phone icon-item no-fixed">
          <img src="./assets/img/up.png"/>
          <div><a class="phone-number" href='tel:4000-055-066'>4000-055-066 电话咨询</a></div>
      </div>
    </div>
    <!-- end 尾部 -->

  </div>

<style>
.block-news-list{
  background-color: #F7F7FA;
}
  .img-block{
    background-color: white;
    width: 25%;

  }
  .new-list-block{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .new-item-block{
    width: 29%;
    margin:10px 2%;
    padding:10px;
    /* height: 230px; */
    display: inline-block;
    background-color: white;
  }
  .icon-text{
    padding:5px 5px 2px 5px;
    text-align: left;
    font-size: 13px;
    color: #666666 ;
  }
  .icon-subtext{
    color: #999;
    text-align: left;
    font-size: 12px;
    padding:0 5px;
    padding-bottom: 10px;
    background-color: white;
  }
  .img-block-phone{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .big-img{
    height: 200px;
    /* border:1px dashed #999; */
  }
  .big-img-phone{
    width: 120px;
    height: 75px;
    /* border:1px dashed #999; */
  }
  .block-img-phone{
    display: flex;
    background-color: white;
    padding:20px 30px;
    border-bottom: 1px solid #f7f7fa;
  }
  .no-padding-bottom{
    padding-bottom: 0;
  }
  .no-padding-top{
    padding-top:0;
  }
  .tips{
    color:  #999999;
    font-size: 13px;
    padding:20px;
    text-align: center;
  }
  .icon-text{
    text-align: left;
  }
  .foot-address-phone {
    position: fixed;
    z-index:9;
  }
</style>
<link rel="stylesheet" href="./assets/css/ipad.css">
<script>
var vue =new Vue({
  el:"#vue",
  data :{
      operateSum: 20,
      openSlide:false,
      isTrue:true,
      wHeight: window.innerWidth,
      routerAboutArr:['/describe','/about','/news'],
      routerDescribeArr:['/describe','/describe','/adavance'],
      routerArr:['/','/about','/describe','/adavance','/distribute','/news','/contact']
  },
  methods:{
    beforeUpdate(){
      console.log( window.innerWidth);
    },
    select:function(index){
      this.selectIndex = index;
    },
    clickOpenSlide:function(e){
      this.openSlide = true;
    },
    clickCloseSlide:function(e){
      this.openSlide = false;
    }
  }
});
</script>



</body>
</html>
